.custom-textarea {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  min-height: 150px; /* 適切な最小高さ */
  font-family: 'Segoe UI', sans-serif; /* Windowsのデフォルトフォント */
  padding: 10px; /* パディングを調整 */
  line-height: 1.5; /* 行間を調整 */
  background-color: #fff; /* 背景色 */
  color: #333; /* テキストカラー */
}

/* フォーカス時のスタイル */
.custom-textarea:focus {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

/* コンテキストメニュー */
#custom-context-menu {
  position: absolute;
  z-index: 1000;
  background-color: white; /* 背景色を白に設定 */
  border-radius: 5px; /* 角を丸くする */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 影を追加 */
  min-width: 50px; /* 最小幅を設定 */
  max-width: 150px; /* 最大幅を設定 */
  width: auto; /* 幅を自動調整 */
}

#custom-context-menu .dropdown-item {
  padding: 5px 10px; /* パディングを調整 */
  white-space: nowrap; /* テキストを折り返さない */
}



/*コンテキストメニューから名前変更用のCSS*/
/* スタイルシートに追加 */
/* スタイルシートに追加 */
.rename-popup {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #888;
  background-color: #fefefe;
}

.rename-popup-content {
  margin: auto;
  width: auto;
}